
  body{
    background-color: #D3E0DC;
  }
  hr{
    border-color:grey;
    border-style:dotted none none none;
    border-width:5px;
    width:5%;

  }
  img:hover{
    background-color:#687980 ;
  }
  img{
        height:400px;
  }
  h1{
    color:#5B6D5B;
  }
  h3{
    color:#687980;
}
